img {
  display: block;
  width: 100%;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
.home-navbar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.span {
  color: #2e2f42;
}
.header-ul {
  display: flex;
  gap: 40px;
}
.header-ul .list .etiket {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.header-ul .list .etiket:hover,
.header-ul .list .etiket:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  margin-left: auto;
}
.address-ul {
  display: flex;
  gap: 40px;
}
.address-ul .list .etiket {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-ul .list .etiket:hover,
.address-ul .list .etiket:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  text-align: center;
  margin-left: 300px;
}
.button {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: 469px;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.sectiontwo {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sectiontwo-ul {
  display: flex;
  gap: 24px;
}
.sectiontwo-ul .list {
  width: calc((100% - 72px) / 4);
}
.sectiontwo-ul .list .subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.sectiontwo-ul .list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
  text-align: center;
}
.team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.sectionthree-ul {
  display: flex;

  gap: 24px;
}
.team-card {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.sectionthree-ul .team-card .subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.sectionthree-ul .team-card .text {
  text-align: center;
}
.sectionthree-ul .team-card {
  background-color: #ffffff;
}
.container-name {
  padding: 32px 0px;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-header {
  margin-bottom: 72px;
}
.portfolio-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.port-ul .list .subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.port-ul .list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.port-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.app-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer .logo .span {
  color: #f4f4fd;
}

.footer .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.header-section {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
  width: 1158px;
}
